<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Plantilla</title>
	<link rel="stylesheet" type="text/css" href="layaout.css">
</head>
<body>
	<div class="contenedor">
		<header>
			<nav>
				<ul>
					<li><a href="#">Inicio</a></li>
					<li><a href="#">Acerca de</a></li>
					<li><a href="#">Productos</a></li>
					<li><a href="#">Contactos</a></li>
				</ul><!-- Ul -->
			</nav><!-- navegacion -->
		</header><!--header -->
	

	<section class="main">
		<div class="imagen">
			<img src="7.jpg">
		</div><!--class imagen-->
			<section class="posts">
			<article>
				<h2>Titulo del articulo</h2>
				<p>Lorem ipus dolor chelo marcelo andee goku krilin
				picoro naruto itachi daniel omar miguel leota juan
				dany karam mimi.

				Lorem ipus dolor chelo marcelo andee goku krilin
				picoro naruto itachi daniel omar miguel leota juan
				dany karam mimi

				Lorem ipus dolor chelo marcelo andee goku krilin
				picoro naruto itachi daniel omar miguel leota juan
				dany karam mimi </p>

				<h2>Titulo del articulo</h2>
				<p>Lorem ipus dolor chelo marcelo andee goku krilin
				picoro naruto itachi daniel omar miguel leota juan
				dany karam mimi.

				Lorem ipus dolor chelo marcelo andee goku krilin
				picoro naruto itachi daniel omar miguel leota juan
				dany karam mimi

				Lorem ipus dolor chelo marcelo andee goku krilin
				picoro naruto itachi daniel omar miguel leota juan
				dany karam mimi </p>
			</article>
			</section><!-- post -->
	</section><!-- section main -->
	<aside>
		<div class="widget">
			<h3 class="titulo">Articulos destacados</h3>
			<ul>
				<li><a href="#">Lionel Messi</a></li>
				<li><a href="#">Cristiano Ronaldo</a></li>
				<li><a href="#">Lavezzi</a></li>
				<li><a href="#">DiMaria</a></li>
				<li><a href="#">Lionel Messi</a></li>
				<li><a href="#">Miguel Cabrera</a></li>
			</ul><!-- UL -->
		</div><!-- widget -->

		<div class="widget">
			<h3 class="titulo">Articulos destacados</h3>
			<p>xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
				xxxx
			yyyyyyyyyyyyyyyyyyyyyyyyyy
			yyyyyyyy
			zzzzzzzzzzzzzzzzzzzzzzzzzzzzz
			zzzzzzzzzzzzzzz
			jjjjjjjjjjjjjjjjjjjj</p>	
		</div><!-- widget -->
	</aside> <!-- Aside -->
	<footer>
		<p>Este es el footer - Derechos reservados XD</p>
	</footer>
		
	</div><!--contenedor -->

</body>
</html>